{{!< default}}
{{> "page_header"}}
<main class="main-content-area section-padding clearfix pt-5 wow fadeIn" data-wow-duration="2s">
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="entry-content">
                        <div class="row">
                           {{#get "tags" limit="all" include="count.posts"}}
                             {{#foreach tags}}
	                            <div class="col-lg-6 col-md-12">
	                                <div class="categories-block d-md-flex">
                                       {{#if feature_image}}
	                                    <div class="author-pic">
	                                        <a href="{{url}}"><img src="{{img_url feature_image}}" alt="{{name}}"/></a>
	                                    </div>
                                        {{/if}}
	                                    <div class="right-text">
	                                        <div class="author-name"><a href="{{url}}">{{name}}</a><span>{{plural count.posts empty="no posts" singular="% post" plural="% posts"}}</span></div>
	                                        <p>{{description}}</p>
	                                        <div class="btn-author"><a href="{{url}}">View all post</a></div>
	                                    </div>
	                                </div>
	                            </div>
                             {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>